.typing-effect {
  display: inline-block;
  white-space: nowrap; /* Keeps text in one line by default*/
  overflow: hidden;
  /* width: 100%; Ensures that the text can wrap to the next line */
  animation: typing 4s steps(50, end), blink-caret 0.75s step-end infinite;
  border-right: 3px solid #77757f;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #77757f;
  }
}
